body{
    text-align: center;
    background-color: #264653;
}

h1{
    color: #e76e50;
    margin-bottom: 20px;
}

#link{
    color: #343a40;
    background-color: #e8c468;
    padding: 4px;
    border-radius: 3px;
}